@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');

$base-color: rgb(252, 172, 4);

$base-gradient2: linear-gradient(to right top, #ff2f55, #d61c6e, #a22579, #6a2b74, #342961,#021f44);
$base-gradient: linear-gradient(to right bottom, #f4d06f, #f5c45c, #f7b84a, #f9ab39, #fb9d28, #fda037, #fea443, #ffa74f, #ffbc76, #ffd19d, #ffe5c6, #fff8f0);